<%- include('partials/header') -%>

<main class="entries">
    <h1>Entries</h1>
    <div class="overflow-x-auto">
        <table class="table w-full">
            <thead>
                <tr>
                    <td class='entryItem'>Date</td>
                    <td class='entryItem'>Pain Scale</td>
                    <td class='entryItem'>Medications Taken</td>
                    <td class='entryItem'>Length</td>
                    <td class='entryItem'>Triggers</td>
                    <td class='entryItem'>Notes</td>
                    <td class='entryItem'></td>
                    <td class='entryItem'></td>
                </tr>
            </thead>
            <tbody>
                <% entries.forEach( el => { %>
                    <tr id='<%=el.id%>' class="hover">
                        <td class='entryItem'><%=el.date%></td>
                        <td class='entryItem'><%=el.painScale%></td>
                        <td class='entryItem'><%=el.medsTaken%></td>
                        <td class='entryItem'><%=el.length%></td>
                        <td class='entryItem'><%=el.triggers%></td>
                        <td class='entryItem'><%=el.notes%></td>
                        <td class="del">Delete</td>
                        <td class='edit'> Edit </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <br />
    <a id='formToggle'>Add New</a>
    <form action="/entries/createEntry" method='POST'>
        <input type="text" placeholder="date" name="date">
        <input type="number" placeholder="pain scale (0-10)" name="painScale">
        <input type="text" placeholder="medications taken" name="medsTaken">
        <input type="number" placeholder="length in hrs" name="length">
        <input type="text" placeholder="triggers" name="triggers">
        <input type="text" placeholder="notes" name="notes">

        <input type="submit">
    </form>
</main>

<%- include('partials/footer') -%>
