<%- include('partials/header') -%>



<main class="entries overflow-y-scroll m-1.5">

    <div class="absolute top-0 right-0 m-1.5">
        <a href="/logout"><button class="btn btn-primary">Logout</button></a>
    </div>

    <button type="button" class="btn btn-accent"><a id='formToggle'>Add New</a></button>
    <form id="newForm" class="hide" action="/entries/createEntry" method='POST' name="newEntry">
        <input type="date" placeholder="date" name="date" >
        <input type="number" placeholder="pain scale (0-10)" name="painScale">
        <input type="text" placeholder="medications taken" name="medsTaken">
        <input type="number" placeholder="length in hrs" name="length">
        <input type="text" placeholder="triggers" name="triggers">
        <input type="text" placeholder="notes" name="notes">

        <input type="submit">
    </form>

    <form id="editForm" class="hide" action="/entries/editEntry" method='PUT' name="updatedEntry">
        <h2>Edit Entry</h2>
        <input type="date" placeholder="date" name="date" >
        <input type="number" placeholder="pain scale (0-10)" name="painScale">
        <input type="text" placeholder="medications taken" name="medsTaken">
        <input type="number" placeholder="length in hrs" name="length">
        <input type="text" placeholder="triggers" name="triggers">
        <input type="text" placeholder="notes" name="notes">

        <input type="submit" id="editSubmit">
    </form>

    <div class="gap-5 grid justify-items-center">
        <% 
        entries.forEach( el => { %>
            <div class="card bg-base-100 shadow-xl w-6/12">
                <div class="card-body">
                    <h2><%=el.date%></h2>
                    <p>Pain Scale: <%=el.painScale%></p>
                    <p>Medications Taken: <%=el.medsTaken%></p>
                    <p>Length: <%=el.length%></p>
                    <p>Triggers: <%=el.triggers%></p>
                    <p>Notes: <%=el.notes%></p>
                    <div class="card-actions justify-end">
                        <button type="button" class="delete btn btn-warning">Delete</button>
                        <button type="button" class="edit btn btn-secondary">Edit</button>
                    </div>
                </div>
            </div>
        
        <% }) %>
    </div>    
</main>

<%- include('partials/footer') -%>
